<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App Name</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <section id="search-panel">
      <h2 class="title-font">Search</h2>
      <section class="search all-ordered">
 			    <h2 class="search-label title-font" >by exact phrase</h2>
 			    <section class="form-container">
 					       <form action="/search/entry/allOrdered" method="GET" class="search-form all-ordered">
                    <label for="all-ordered-search"></label>
 						       <input class="search-input" type="text" name="entry" value="" placeholder="enter text here">
                    <input class="hidden" name="page" value="1">
 						       <button class="button-search" type="submit">Search</button>
 						     </form>
 				     </section>
 		 </section>
      <section class="search all-unordered">
   	    <h2 class="search-label title-font" >words appearing together in the same entry</h2>
   			<section class="form-container">
   					<form action="/search/entry/allUnordered" method="GET" class="search-form all-unordered">
               <label for="all-unordered-search"></label>
   						<input class="search-input" type="text" name="entry" value="" placeholder="enter text here">
               <input class="hidden" name="page" value="1">
   						<button class="button-search" type="submit">Search</button>
   						</form>
   				</section>
   		</section>
       <section class="search course-number">
     			<h2 class="search-label title-font" >browse by course number</h2>
     			<section class="form-container">
     					<form action="/search/timestamp/byCourseNumber" method="GET" class="search-form course-number">
                 <label for="selected-course">Select a Course Number to see all captions</label>
     						<div class="course-radio-container">
                   <% for(let course = 1; course <= 41; course++ ){ %>
                     <% if(course !== 17 && course !== 18) { %>
                     <div class="course-radio">
                       <input class="radio" type="radio" name="entry" value="<%= course %>">
                       <label for="<%= `Course ${course}` %>"><%= `Course ${course}` %></label>
                     </div>
                     <% } %>
                   <% } %>
                 </div>
                 <input class="hidden" name="page" value="1">
     						<button class="button-search" type="submit">browse</button>
     						</form>
     				</section>
     		</section>
    </section>
    <section id="main">
      <nav>
        <h2 class="title-font">LeonStreamScripts</h2>
      </nav>
      <section id="results">
        <section id="player-container">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/o3IIobN4xR0?origin=https://leonstreamscrips.herokuapp.com" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <h2 class="title-font"><%= `${count}` %> results for <%= `'${entry}'` %>:</h2>
        <div id=results-navigation>
          <!-- if the response has results in it: -->
          <% if (pages > 0) { %>
            <ul class="pagination">
            <!-- if this page is the first page of results, disable nav to first -->
            <% if (current == 1) { %>
              <!-- nested directory link needs route + entry + page -->
              <!--  -->
              <li class="disabled page-nav"><a>First</a></li>
              <!-- If this page is not the first page, provide a link to first -->
            <% } else { %>
              <li class="page-nav"><a href="<%= `${urlBase}?entry=${entry}&page=${1}` %>" id="First">First</a></li>
            <% } %>
            <!-- if this page is not the first page, provide a link to previous -->
            <% if (Number(current) - 1 > 0) { %>
              <li class="page-nav"><a href="<%= `${urlBase}?entry=${entry}&page=${current - 1}` %>">Prev</a></li>
            <% } else { %>
              <!-- if this page is the first page, disable the nav to previous -->
              <li class="disabled page-nav"><a>Prev</a></li>
            <% } %>
            <!-- this paginates 5 nav options in the center, and puts current page -->
            <!-- at the end of the options. -->
            <!-- set the var i for the loop - if current page is greater than 5, -->
            <!-- make the loop start from current page minus 4 -->
            <!-- for example, current = 7, i => 3, loops to 7 -->
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <!-- if the current page is greater than 5, don't show '...' -->
            <% if (i !== 1) { %>
              <li class="disabled page-nav"><a>...</a></li>
            <% } %>
            <!-- begin looping through to create page numbers for the middle -->
            <!-- starting from i, and going to the current page + 4, provided-->
            <!-- we aren't already at the end of the results -->
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <!-- if the loop is at the current page value, disable the link -->
              <% if (i == current) { %>
                <li class="active page-nav"><a><%= i %></a></li>
                <!-- otherwise provide a link for that page number -->
              <% } else { %>
                <li id="pages" class="page-nav"><a href="<%= `${urlBase}?entry=${entry}&page=${i}` %>"><%= i %></a></li>
              <% } %>
              <!-- if the loop is at the end and there are still more pages, -->
              <!-- show the '...' at the end -->
              <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled page-nav"><a>...</a></li>
              <% } %>
            <% } %>
            <!-- end of the numbers loop, now adding next and last logic -->
            <!-- if not at the end of results, provide a next link -->
            <% if (Number(current) + 1 <= pages) { %>
              <li class="page-nav"><a href="<%= `${urlBase}?entry=${entry}&page=${current + 1}` %>">Next</a></li>
              <!-- otherwise disable the next link -->
            <% } else { %>
              <li class="disabled page-nav"><a>Next</a></li>
            <% } %>
            <!-- if at the end of results, disable the last link -->
            <% if (current == pages) { %>
              <li class="disabled page-nav"><a>Last</a></li>
              <!-- otherwise provide a last link -->
            <% } else { %>
              <li class="page-nav"><a href="<%= `${urlBase}?entry=${entry}&page=${pages}` %>">Last</a></li>
              <% } %>
            </ul>
          <% } %>
        </div>
        <section id="results-container">
            <ul class="transcriptsList">
              <!-- loop to populate the results -->
              <% transcripts.forEach(transcript => { %>
                <!-- parsing the course info from the timestamp by splitting, -->
                <% let split = transcript.timestamp.split("-") %>
                <!-- then pulling the first element to get course number from the split -->
                <% let courseNumber = split[0] %>
                <!-- then pulling the second element to get timestamp from the split -->
                <% let courseTimeStamp = split[1] %>
                <li class="transcript">
                  <!-- putting course info as a formatted string literal into variable -->
                  <% let courseInfo = courseNumber === "0"? "": `Course ${courseNumber}, at ${courseTimeStamp}`; %>
                  <!-- pushing course info into the inner text -->
                  <div class="course-info">
                    <ul>
                      <li>Course <%= `${courseNumber}` %></li>
                      <li><%= `${courseTimeStamp}` %></li>
                    </ul>
                  </div>
                  <!-- pushing the transcript text into the inner text -->
                  <div class="caption"><%= `${transcript.entry}` %></div>
                  <div class="play-container">
                    <a class="play-video" onClick="console.log()" href="" data-urlString="<%= `${courseNumber}-${courseTimeStamp}` %>">Go to this section</a>
                  </div>
                </li>
                <% }) %>
            </ul>
        </section>
      </section>
    </section>
    <script src="/main.js" /></script>
  </body>
</html>
